# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!setup.cfg
*.orig
*.log
*.pot
.cache/*
.*.swp
*/.ipynb_checkpoints/*
*.DS_Store

# Python env
env
.venv

# NPM
node_modules/
npm-debug.log
package-lock.json

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea
.vscode/settings.json
*.code-workspace

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage
.tox
junit.xml
coverage.xml

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/api/*
docs/_build/*
cover/*
MANIFEST



# Keyfile and pyupdater files for signing pyupdater
keypack.pyu
.pyupdater/
pyu-data/
# Sentry Data
formatting_test.bat


# Misc
.devcontainer/ledfx-config.yml
frontend/*.eslintcache
*.eslintcache


#Pycache from numba
ledfx/effects/__pycache__/*
ledfx/__pycache__/*
__pycache__/*
/docs/build/
