# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!setup.cfg
*.orig
*.log
*.pot
__pycache__/*
.cache/*
.*.swp
*/.ipynb_checkpoints/*
*.DS_Store

# Python env
env

# NPM
node_modules/
npm-debug.log
package-lock.json

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea
.vscode
*.code-workspace

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage
.tox
junit.xml
coverage.xml

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/api/*
docs/_build/*
cover/*
MANIFEST
build.bat
ledfx.nsi
__main__.spec
LedFx Installer.exe


# Keyfile and pyupdater files for signing pyupdater
keypack.pyu
.pyupdater/
pyu-data/new/LedFx-win-0.0.4.zip
pyu-data/new/LedFx-win-0.0.4/LedFx.exe
pyu-data/new/LedFx/base_library.zip
pyu-data/new/LedFx/libcrypto-1_1.dll
pyu-data/new/LedFx/libffi-7.dll
pyu-data/new/LedFx/libopenblas.QVLO2T66WEPI7JZ63PS3HMOHFEY472BC.gfortran-win_amd64.dll
pyu-data/new/LedFx/libssl-1_1.dll
pyu-data/new/LedFx/mfc140u.dll
pyu-data/new/LedFx/python3.dll
pyu-data/new/LedFx/python39.dll
pyu-data/new/LedFx/pythoncom39.dll
pyu-data/new/LedFx/pywintypes39.dll
pyu-data/new/LedFx/VCRUNTIME140.dll
pyu-data/new/LedFx/win.exe
pyu-data/new/LedFx/win.exe.manifest
pyu-data/new/LedFx/Include/pyconfig.h
pyu-data/new/LedFx/certifi/cacert.pem
pyu-data/new/LedFx/ledfx/__init__.py
pyu-data/new/LedFx/ledfx/__main__.py
pyu-data/new/LedFx/ledfx/client_config.py
pyu-data/new/LedFx/ledfx/color.py
pyu-data/new/LedFx/ledfx/config.py
pyu-data/new/LedFx/ledfx/consts.py
pyu-data/new/LedFx/ledfx/core.py
pyu-data/new/LedFx/ledfx/default_presets.yaml
pyu-data/new/LedFx/ledfx/events.py
pyu-data/new/LedFx/ledfx/http.py
pyu-data/new/LedFx/ledfx/utils.py
pyu-data/new/LedFx/ledfx/api/__init__.py
pyu-data/new/LedFx/ledfx/api/audio_devices.py
pyu-data/new/LedFx/ledfx/api/config.py
pyu-data/new/LedFx/ledfx/api/device_effects.py
pyu-data/new/LedFx/ledfx/api/device_presets.py
pyu-data/new/LedFx/ledfx/api/device.py
pyu-data/new/LedFx/ledfx/api/devices.py
pyu-data/new/LedFx/ledfx/api/effect.py
pyu-data/new/LedFx/ledfx/api/effects.py
pyu-data/new/LedFx/ledfx/api/find_devices.py
pyu-data/new/LedFx/ledfx/api/graphics_quality.py
pyu-data/new/LedFx/ledfx/api/info.py
pyu-data/new/LedFx/ledfx/api/presets.py
pyu-data/new/LedFx/ledfx/api/scenes.py
pyu-data/new/LedFx/ledfx/api/schema_types.py
pyu-data/new/LedFx/ledfx/api/schema.py
pyu-data/new/LedFx/ledfx/api/utils.py
pyu-data/new/LedFx/ledfx/api/websocket.py
pyu-data/new/LedFx/ledfx/devices/__init__.py
pyu-data/new/LedFx/ledfx/devices/e131.py
pyu-data/new/LedFx/ledfx/devices/FXMatrix.py
pyu-data/new/LedFx/ledfx/devices/udp.py
pyu-data/new/LedFx/ledfx/effects/__init__.py
pyu-data/new/LedFx/ledfx/effects/audio.py
pyu-data/new/LedFx/ledfx/effects/bands(Reactive).py
pyu-data/new/LedFx/ledfx/effects/bar(Reactive).py
pyu-data/new/LedFx/ledfx/effects/blocks(Reactive).py
pyu-data/new/LedFx/ledfx/effects/energy(Reactive).py
pyu-data/new/LedFx/ledfx/effects/equalizer(reactive).py
pyu-data/new/LedFx/ledfx/effects/fade.py
pyu-data/new/LedFx/ledfx/effects/gradient.py
pyu-data/new/LedFx/ledfx/effects/magnitude(Reactive).py
pyu-data/new/LedFx/ledfx/effects/math.py
pyu-data/new/LedFx/ledfx/effects/mel.py
pyu-data/new/LedFx/ledfx/effects/modulate.py
pyu-data/new/LedFx/ledfx/effects/multiBar(Reactive).py
pyu-data/new/LedFx/ledfx/effects/pitchSpectrum(Reactive).py
pyu-data/new/LedFx/ledfx/effects/power(Reactive).py
pyu-data/new/LedFx/ledfx/effects/rain(Reactive).py
pyu-data/new/LedFx/ledfx/effects/rainbow.py
pyu-data/new/LedFx/ledfx/effects/scroll(Reactive).py
pyu-data/new/LedFx/ledfx/effects/singleColor.py
pyu-data/new/LedFx/ledfx/effects/spectrum(Reactive).py
pyu-data/new/LedFx/ledfx/effects/strobe(Reactive).py
pyu-data/new/LedFx/ledfx/effects/temporal.py
pyu-data/new/LedFx/ledfx/effects/wavelength(Reactive).py
pyu-data/new/LedFx/ledfx/effects/effectlets/__init__.py
pyu-data/new/LedFx/ledfx/effects/effectlets/droplet_0.npy
pyu-data/new/LedFx/ledfx/effects/effectlets/droplet_1.npy
pyu-data/new/LedFx/ledfx/effects/effectlets/droplet_2.npy
pyu-data/new/LedFx/ledfx/frontend/components/SceneCard/SceneConfigTable.jsx
pyu-data/new/LedFx/ledfx_frontend/__init__.py
pyu-data/new/LedFx/ledfx_frontend/asset-manifest.json
pyu-data/new/LedFx/ledfx_frontend/favicon.ico
pyu-data/new/LedFx/ledfx_frontend/index.html
pyu-data/new/LedFx/ledfx_frontend/logo192.png
pyu-data/new/LedFx/ledfx_frontend/logo512.png
pyu-data/new/LedFx/ledfx_frontend/precache-manifest.e9ae62f81b31cb53a3367dff6cfd0b39.js
pyu-data/new/LedFx/ledfx_frontend/robots.txt
pyu-data/new/LedFx/ledfx_frontend/service-worker.js
pyu-data/new/LedFx/ledfx_frontend/static/css/main.5f265409.chunk.css
pyu-data/new/LedFx/ledfx_frontend/static/css/main.5f265409.chunk.css.map
pyu-data/new/LedFx/ledfx_frontend/static/js/2.4f829b51.chunk.js
pyu-data/new/LedFx/ledfx_frontend/static/js/2.4f829b51.chunk.js.LICENSE.txt
pyu-data/new/LedFx/ledfx_frontend/static/js/2.4f829b51.chunk.js.map
pyu-data/new/LedFx/ledfx_frontend/static/js/main.8b9fb34a.chunk.js
pyu-data/new/LedFx/ledfx_frontend/static/js/main.8b9fb34a.chunk.js.map
pyu-data/new/LedFx/ledfx_frontend/static/js/runtime-main.5d286450.js
pyu-data/new/LedFx/ledfx_frontend/static/js/runtime-main.5d286450.js.map
