sudo: false
addons:
  apt:
    packages:
      - libudev-dev
matrix:
  fast_finish: true
  include:
    - python: "3.6"
      env: TOXENV=py36
    #   #after_success: coveralls
    - python: "3.7"
      env: TOXENV=py37
      dist: xenial
    - python: "3.8-dev"
      env: TOXENV=py38
      dist: xenial
      if: branch = dev AND type = push
  allow_failures:
    - python: "3.8-dev"
      env: TOXENV=py38
      dist: xenial

language: python
cache:
  directories:
    - $HOME/.cache/pip
    - "node_modules"
before_install:
  - sudo apt-get update
  - sudo apt-get install portaudio19-dev # Install portaudio (requirement for pyaudio)
install:
  - npm install
  - npm install -g yarn
  - pip install tox-travis
  - pip install -r docs/requirements_docs.txt

script:
  # Build the frontend first
  - cd frontend
  - yarn 
  - yarn build
  - cd ..
  # Then, build the backend
  - travis_wait 60 tox --develop
  # Finally, build the docs
  - travis-sphinx build --nowarn --source=docs

after_success:
  - travis-sphinx deploy
