include README.rst
include AUTHORS.rst
include CHANGELOG.rst
include LICENSE.txt
include requirements.txt
recursive-include ledfx *.npy
recursive-include ledfx_frontend *
include ledfx/frontend/components/SceneCard/*
global-exclude *.pyc
