# Requirements. These can can be installed with:
#   pip install -r requirements.txt

# You will need a C compiler and proper setup for Cython
# https://wiki.python.org/moin/WindowsCompilers
# or use conda to install
# conda install -c conda-forge aubio

# Current windows bug requires no later than 1.19.3
numpy==1.19.3

voluptuous>=0.11.1
pyaudio>=0.2.11
sacn>=1.3
aiohttp<=3.7.0
aiohttp_jinja2>=1.3.0
requests>=2.24.0
pyyaml>=5.1
aubio>=0.4.8
zeroconf>=0.28.6