<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>LedFx</title>
  <link href="{{ url('static', filename='external/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" media="all" />
  <link href="{{ url('static', filename='external/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" media="all" />
  <link href="{{ url('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" media="all" />
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="{{ url('index') }}">LedFx</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="{{ url('index') }}">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Dashboard</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-lightbulb-o"></i>
            <span class="nav-link-text">Devices</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseComponents">
            {% if devices %}
              {% for device in devices %}
              <li>
                <a href="{{ url('device', device_id=device.id) }}">{{ device.name }}</a>
              </li>
              {% endfor %}
            {% endif %}
          </ul>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
          <a class="nav-link" href="/dev_tools">
            <i class="fa fa-fw fa-link"></i>
            <span class="nav-link-text">Developer Tools</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{{ url('index') }}">Dashboard</a>
        </li>
        {% block breadcrumbs %}
        {% endblock %}
        <li class="breadcrumb-item active">{{title}}</li>
      </ol>
      <div class="row">
        <div class="col-12">
          <h1>{{title}}</h1>
          {% block content %}
          <!-- 
          <p>This is an example of a blank page that you can use as a starting point for creating new ones.</p>
          -->
          {% endblock %}
        </div>
      </div>
    </div>

    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Austin Hodges 2018</small>
        </div>
      </div>
    </footer>

    <script src="{{ url('static', filename='external/jquery/jquery.min.js') }}"></script>
    <script src="{{ url('static', filename='external/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url('static', filename='external/jquery-easing/jquery.easing.min.js') }}"></script>
    <script src="{{ url('static', filename='js/base.min.js') }}"></script>
    {% block javascript %}
    {% endblock %}
  </div>
</body>

</html>
