sphinx==3.3.1
sphinxcontrib-websupport==1.2.4
sphinxcontrib-httpdomain==1.7.0
sphinx-autodoc-typehints==1.11.1
sphinx-autodoc-annotation==1.0-1
sphinx-autobuild
sphinx_rtd_theme==0.5.0
travis-sphinx==2.2.1
rstcheck==3.3.1