# docutils<0.18 # No longer needed
sphinx<7.2.7
sphinxcontrib-websupport==1.2.7
sphinxcontrib-httpdomain==1.8.1
sphinx-autodoc-typehints==1.25.3
sphinx-autodoc-annotation==1.0-1
sphinx-autobuild
sphinx_rtd_theme==2.0.0
sphinx-toolbox==3.5.0
rstcheck==6.2.0