sphinx>=3.0
sphinxcontrib-websupport==1.2.4
sphinxcontrib-httpdomain
sphinx-autodoc-typehints==1.11.1
sphinx-autodoc-annotation==1.0.post1
sphinx-autobuild
sphinx_rtd_theme==0.5.0
travis-sphinx==2.2.1