name: Publish Python distributions to PyPI

on:
  release:
    types:
      - published
  # push:
  #   paths-ignore:
  #     - 'docs/**'
  #     - '.*/**'
  workflow_dispatch:

env:
  DEFAULT_PYTHON: 3.8

jobs:
  build-n-publish:
    name: Build and publish Python distributions to PyPI
    runs-on: ubuntu-latest
    steps:
      - name: Check out code from GitHub
        uses: actions/checkout@v3
      - name: Setup sentry config
        shell: bash
        env:
          SENTRY_DSN: ${{ secrets.SENTRY_DSN_PYPI }}
        run: |
          sed -i 's,DSN,'"$SENTRY_DSN"',' ./ledfx/sentry_config.py
      - name: Set up Python ${{ env.DEFAULT_PYTHON }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.DEFAULT_PYTHON }}
      - name: Install build dependencies
        run: |
          sudo apt-get update && sudo apt-get install -y \
          gcc libatlas3-base portaudio19-dev
      - name: Build a binary wheel and source tarball
        run: |
          python -m pip install --user -U pip wheel setuptools
          python setup.py sdist bdist_wheel
      - name: Publish distribution to PyPI
        # if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
      - name: Trigger HomeAssistant Add-on
        uses: benc-uk/workflow-dispatch@v1
        with:
          workflow: Builder
          repo: YeonV/home-assistant-addons
          ref: refs/heads/master
          token: ${{ secrets.LEDFX_HOMEASSISTANT_ADDON }}
          inputs: '{ "version": "${{ github.ref_name }}" }'
